.course-content a {
    outline: none;
}
.course-content .grid_title {
    font-size: 160%;
    font-weight: bold;
}
.course-content ul.gtopics h3.sectionname {
    background: transparent;
    font-weight: normal;
    border: 0px none;
    border-bottom: dashed 1px #000;
    padding: 0px;
    padding-bottom: 5px;
}
.course-content ul.gtopics-0 #section-0 {
    background: transparent;
    border: 0px none;
}

.course-content ul.gtopics-0 #section-0 .side {
    width: 28px;
}

div#middle-column ul {
    list-style-type: none;
}

.course-content ul.gtopics {
    margin:0;
}

.course-content ul.gtopics li.section {
    list-style: none;
    margin:5px 0 0 0;
    padding:0;
}

.course-content ul.gtopics li.section .content {
    margin:0 40px;
}

.course-content ul.gtopics li.section .side {
    width:40px;
    text-align:center;
}

.course-content ul.gtopics li.section .left {
    float:left;
    padding: 0px;
}

.course-content ul.gtopics li.section .right {
    float:right;
}

.jumpmenu {
    text-align:center;
}

/* @group Topic Icons */

.course-content ul.icons {
    list-style: none;
    padding: 0;
    margin: 0;
}
.course-content #iconContainer {
    overflow: auto;
    padding: 0 0 50px 0;
    margin-left: auto;
    margin-right: auto;
}

.course-content ul.icons li {
    width: 220px;
    overflow: hidden;
    float: left;
    margin: 5px 5px;
    padding: 3px;
    background-color: white;
    color: black;
    font-size: 12px;
    display: block;
}
.course-content ul.icons li:hover {
    background-color: #f1f2f2;
    color: #333;
}
.course-content ul.icons img.new_activity {
    position: absolute;
    margin-top: 90px;
    margin-left: 128px;
}
.course-content .icon_link {
    cursor: pointer;
}
.course-content ul.icons li p.icon_content {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 3px 0;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    height: 20px;
}
.course-content ul.icons li .image_holder {
    width: 218px;
    height: 140px;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #f1f2f2;
    text-align: center;
    vertical-align: middle;
}
.course-content ul.icons li:hover .image_holder {
    border: 1px solid #dededf;
}
.course-content ul.icons li img {
    margin-top: 0;
}
.course-content li.grid_section {
    clear: both;
}
/* @end */

/* @group Shadebox */

div#shadebox_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: black;
    /* for IE */
    filter: alpha(opacity=70);
    /* CSS3 standard */
    opacity: 0.7;
    z-index: 100000;
    cursor: pointer;
}
#shadebox_content {
    background: #fff;
    border: solid 2px #a71e38;
}
#shadebox_content .activity {
    list-style: none;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 4px;
    padding-top: 2px;
}
#shadebox_content ul li {
    list-style: none;
}
#shadebox_content ul li ul li {
    list-style: circle;
    border-bottom: none;
    padding-bottom: 4px;
    padding-top: 2px;
}
#shadebox_close {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}
/* @end */
